body {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
button {
  border: 1px solid black;
  border-radius: 9px;
  background-color: black;
  color: white;
  padding: 3px;
  width: 60px;
  margin: 4px;
}
.coin {
  height: 200px;
}
